<center>
  <a class="github-button" href="https://github.com/mrjdainc/plugin.video.da_inc/releases" data-icon="octicon-cloud-download" aria-label="Download mrjdainc/plugin.video.da_inc on GitHub">Download</a>
  <a class="github-button" href="https://github.com/mrjdainc/plugin.video.da_inc" data-icon="octicon-star" data-show-count="false" aria-label="Star mrjdainc/plugin.video.da_inc on GitHub">Star</a>
  <a class="github-button" href="https://github.com/mrjdainc/plugin.video.da_inc/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork mrjdainc/plugin.video.da_inc on GitHub">Fork</a>
</center>

<script async defer src="https://buttons.github.io/buttons.js"></script>
